{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ | Deckor Incorporated{%endblock %}
{% block meta_description %}We Construct. We Design. We Deliver.{% endblock %}

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href='home.html'><i class="fa fa-home"></i>Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** FAQ Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- FAQ Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <h5>What services do you offer as an architectural firm?</h5>
            <p>The following service we offer includes <strong>Construction, Office-Fitouts, Interior Designs, Architechtural Design.</strong> <br><br> This can also be seen in the services part of the website.</p>
          </div>
        </div>
        .
        <!-- FAQ Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <h5>What are your billing and payment procedures?</h5>
            <p>Deckor Inc. accepts different types of billing and payment such as cash or credit card, we also accept monthly installments.</p>
          </div>
        </div>
        

        <!-- FAQ Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <h5>Can you provide examples of your past projects and client references?</h5>
            <p>Some of the past projects are shown in the <strong>'Portfolio'</strong> page of the website.</p>
          </div>
        </div>
.
        <!-- FAQ Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <h5>How long does it take to complete a project from start to finish?</h5>
            <p>The time we require to finish a project varies depending on what the client wants, <strong>there is no specific time for the project to be completed</strong>, as such we can provide an estimated time once the plan for the project is finalized.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- ***** FAQ End ***** --> 


{% endblock %}